body {
    background-color: black;
}

.container {
    width: 300px;
    height: 400px;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    border: 2px  solid hsl(0, 0%, 30%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}