body {
    margin: 0;
    font-family: "Lexend Deca", sans-serif;
    padding: 1rem;
}

.orange-card {
    background-color: #ff9800;
    color: white;
    /* padding: 20px; */
    /* border-radius: 10px; */
    border-radius: 8px 8px 0px 0px;
}

a {
    color: inherit;
}

h2 {
    text-transform: uppercase;
    font-family: "Big Shoulders", cursive;
    font-size: 2.5rem;
}

.cyan-card {
    background-color: hsl(184, 100%, 22%);
    color: white;
    /* padding: 20px; */
    /* border-radius: 10px; */
}

.green-card {
    background-color: hsl(179, 100%, 13%);
    color: white;
    /* padding: 20px; */
    /* border-radius: 10px; */
    border-radius: 0px 0px 8px 8px;
}

.card {
    padding: 3rem;
}

.card p {
    opacity: 0.75;
    line-height: 30px;
}