body {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
}

.card {
    box-sizing: border-box;
    padding: 1.7rem;
    position: absolute;
    /* position is relative to body */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    height: 596px;
    width: 100%;
    max-width: 350px;
    border-radius: 16px;
}

img {
    width: 100%;
    border-radius: 8px;
}

.h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300, 400, 600;
    margin-bottom: 1.5rem;
}

.etherum {
    margin-top: 0.2rem;
    width: 11px;
}

.span {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
    font-size: 18px;
    margin-left: 0.5rem;
}

.meta-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.time-container {
    display: flex;
    align-items: center;
}

.clock {
    width: 18px;
    margin: 0;
}

.span2 {
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    font-size: 15px;
    margin-left: 0.5rem;
}

hr.line {
    border: none;
    /* Removes the default border */
    height: 1px;
    /* Sets the thickness */
    background-color: #2F4159;
    /* Sets the color of the line */
    margin: 25px 0;
    /* Optional: Adds space above and below the line */
}

.footer {
    display: flex;
    /* Use flexbox to align items horizontally */
    align-items: center;
    margin-top: 1rem;
}

.footer img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    /* Makes the image circular */
}

.span3 {
    display: flex;
    align-items: flex-end;
    color: hsl(215, 51%, 70%);
    font-weight: 300;
    /*` Adjust the font weight as needed */
    font-size: 15px;
    margin-left: 1rem;
    /* Adjust the margin as needed */
}


.span4 {
    color: hsl(0, 0%, 100%);
    font-weight: 600;
    font-size: 15px;
    margin-left: 0.2rem;
    /* Adjust the margin as needed */
}