body {
    background-color: hsl(217, 54%, 11%);
    min-height: 100vh;
}

.card {
    box-sizing: border-box;
    padding: 1.7rem;
    position: absolute; /* position is relative to body */
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(216, 50%, 16%);
    height: 596px;
    width: 100%;
    max-width: 350px;
    border-radius: 16px;
}

img {
    width: 100%;
    border-radius: 8px;
}

.h2 {
    color: hsl(0, 0%, 100%);
    font-size: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}

p {
    font-family: 'Outfit', sans-serif;
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300, 400, 600;
    margin-bottom: 1.5rem;
}
.price img {
    width: 11px;
    margin-right: 0.5rem;
}
.price {
    display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
}
.price p {
    color: hsl(178, 100%, 50%);
    font-size: 1.2rem;
    font-weight: 600;
}

.footer {
    display: flex;
    align-items: center;
}

.footer img {
    width: 30px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 1rem;
}
.footer p {
    color: hsl(215, 51%, 70%);
    font-size: 18px;
    font-weight: 300, 400, 600;
}

.footer .span {
    color: hsl(0, 0%, 100%);
}


