.container {
    min-height: 60vh;
    display: grid;
    grid-template-areas:
     '1st 1st 2nd 3rd'
    '4th 5th 5th 3rd'
    ;
    align-items: center;
    margin: 5rem;
}

.box-1 {
    color: white;
    background-image: url(/testimonials-grid-section-main/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position:  right 3rem top;
    max-width: 620px;
    padding: 30px;
    grid-area: 1st;
    background-color: hsl(263, 55%, 52%);
}

.header {
    display: flex;
    /* align-items: center; */
    gap: 10px;
    margin-bottom: 20px;
}

.icon {
    width: 30px;
    border-radius: 50%;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    font-weight: 10;
}
