body {
    background-color: #d5e1ef;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.card {
    padding: 1rem; /* Adjust the padding as needed */
    padding-bottom: 3.9rem;
    position: absolute; /* Position the card absolutely to center it on the page */
    margin: auto; /* Center the card horizontally */
    inset: 0; /* Center the card vertically */
    width: 100%; /* Set the width to 100% to allow it to scale on smaller screens */
    max-width: 302px;
    height: 474px;
    box-shadow: 0px 10px 20px 0px rgb(0, 0, 0, 0.482);
    background-color: white;
    border-radius: 16px; /* Optional: Add some rounding to the card corners */
}

img {
    width: 100%;
    border-radius: 12px; /* Optional: Add some rounding to the image corners */
}

h2 {
    color: hsl(218, 44%, 22%); /* Adjust the color as needed */ 
    font-size: 24px; /* Adjust the font size as needed */
}

p {
    font-size: 18px;
}



