body {
    background-color: #d5e1ef;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.card {
    padding: 1rem; /* Adjust the padding as needed */
    padding-bottom: 3.9rem;
    position: absolute; /* Position the card absolutely to center it on the page */
    margin: auto; /* Center the card horizontally */
    inset: 0;
    width: 100%;
    max-width: 302px;
    height: 474px;
    box-shadow: 0px 10px 20px 0px rgb(0, 0, 0, 0.482);
    background-color: white;
    border-radius: 16px; /* Optional: Add some rounding to the card corners */
}

img {
    width: 100%;
    border-radius: 12px; /* Optional: Add some rounding to the image corners */
}

h2 {
    color: hsl(218, 44%, 22%);
}

p {
    font-size: 18px;
}



