body{
    margin: 20px;
}

* {
    box-sizing: border-box;
}

.container {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-inline: auto;
    max-width: 1200px;
}

.box {
    border-radius: 12px;
}

.box-1 {
    background-color: hsl(256, 67%, 59%);
    min-height: 200px;
    padding: 20px;
    font-size: 2rem;
    font-weight: 800;
    color: white;
    align-content: center;
    justify-content: center;
}

.highlight1 {
    color: #FECC65;
}

.stars {
    height: 20px;
}